body {
    background-color: #dceaea;
    margin: 2px 20px 2px 20px;
}

.heading{
    background-color: #4682B4;
    height: 60px;
}

#campus-icon {
    height: 50px;
    width: 50px;
    float: left;
}

#students-image {
    height: 200px;
    width: 1008px;
}

.content{
    padding: 10px;
}